.users-page {
  height: 100%;
  padding: 0 24px;

  display: flex;
  flex-direction: column;
  align-items: center;

  .users-filter {
    flex: 0 0 auto;
    width: 100%;
  }

  .users-table {
    flex: 1 1 auto;
    width: 100%;
  }
}
